body {
    background-color: #E5B3A8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bodyContainer {
    text-align: center;
}
p, img {
    margin: 0 auto;
}
h1 {
    font-family:'IM Fell DW Pica', serif;
}
h2 {
    color: rgb(255, 57, 57);
}
a {
    text-decoration: none;
    color:white;
}
ol, ul {
    list-style: none;
}
ol, ul li{
    display:inline-block;
}
nav, footer{
    background-color: rgb(53, 51, 65);
    border-radius: 10px;
}
.navBtn li a{
    display:inline-block;
    color: white;
    padding:20px;
    text-transform: uppercase;
}
.navBtn li a:hover {
    color: #41fff6;
    transition: 0.16s;
}
.cta {
    border: 3px solid white;
    color: white;
    border-radius: 10px;
    padding:10px;
    transition: background-color 0.16s ease-in-out;
    width:7%;
    text-align: center;
    min-width:80px;
    margin: 40px auto 40px auto;
}
.cta:hover {
    background-color: #402219;
}
.aboutText {
    width:500px;
    margin: 0 auto;
}
.social ul li img{
    width:40px;
    height:40px;
    display: inline-block;
}
#salmonLogo {
    width:60%;
}
.locationTimes {
    overflow: auto;
}
.locContainer {
    overflow: auto;
    width: 650px;
    margin: 0 auto;
}
.location {
    float: left;
}
.hours li{
    display: block;
    text-align:left;
}
.merchandise {
    clear:both;
}