
/*
    font-family: 'Quicksand', sans-serif;
    font-family: 'Crimson Text', serif;
    font-family: 'IM Fell DW Pica', serif;
    font-family: 'Snippet', sans-serif;
*/
h1 {
    color:red;
}
table {
    border-collapse: collapse;
    width:70%;
    min-width:600px;
    margin:auto;
  }
table td, table th {
    border: 1px solid black;
}